.slider{
height:31.5rem;
width: 100%;
object-fit:cover;
image-orientation: from-image;
object-position:center -55px;
}
.carousel-fade .carousel-item {
	opacity: 0;
	transition-duration: .6s;
	transition-property: opacity;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
	opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
	opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
	transform: translateX(0);
	transform: translate3d(0, 0, 0);
}

.movie-overview{
    padding: 20px;
    color: rgb(231, 231, 231);
    height: fit-content;
    background-color: rgba(37, 37, 37, 0.521);
    width: 60rem;
    margin-left: auto !important;
    margin-right: auto !important;
}
