.pagination{
   margin: 20px;
}
.page-link{
    background-color: rgb(97, 97, 97);
    color: #ffff;
    border-color: transparent;
}
.page-link:hover{
    background-color: rgb(231, 231, 231);
    color:black
}